body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* form {
  width: 80% !important;
} */
@media (max-width: 450px) {
  body {
    height: fit-content;
  }

  ul li div .buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  ul li div .buttons button:first-child {
    margin-right: 0 !important;
    margin-bottom: 5px;
    width: 100%;
  }
}

@media (min-width: 767px) {

  form,
  .ul-container {
    width: 60% !important;
  }

  ul li {}
}

@media (min-width: 992px) {

  form,
  .ul-container {
    width: 50% !important;
  }

}